<form [formGroup]="myForm" (ngSubmit)="crearCategoria()">
    <div>
        <div>
            <label>Nombre: </label>
            <input type="text" formControlName="nombre" placeholder="Ej: Chupetines">
        </div>
            <div [ngClass]="{error: myForm.get('nombre').errors && myForm.get('nombre').dirty}">
                <p *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').dirty">El nombre es obligatorio</p>
            </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Crear categoria</button>
    </div>
</form>